
<main class="main">
  <div class="Summary">
    <h2>Todo</h2>
    <ul>
      <li><input type="checkbox" /> 年を選択するYearPicker</li>
                                       <li><input type="checkbox" /> 指定した年の休日を表示するリスト</li>
      <li><input type="checkbox" /> 選択した休日の詳細を表示</li>
      <li><input type="checkbox" /> 選択した休日の編集</li>
      <li><input type="checkbox" /> 選択した休日の削除</li>
      <li><input type="checkbox" /> 休日の新規作成</li>
    </ul>
  </div>
  <div class="content">
    <p-datepicker [(ngModel)]="tdate" view="year" dateFormat="yy" (onSelect)="selectedHandl($event)" />
    
    @if (isLoading()) {
      <div style="display: flex; justify-content: center; padding: 2rem;">
        <p-progressspinner styleClass="w-4rem h-4rem" strokeWidth="4" fill="transparent" animationDuration=".5s" />
      </div>
    }

    @if (errorMessage()) {
      <div style="color: red; margin: 1rem 0; padding: 0.5rem; border: 1px solid red; border-radius: 4px;">
        {{ errorMessage() }}
      </div>
    }

    <p-table
      [value]="holidays()"
    >
      <ng-template #header>
        <tr>
          <th>Date</th>
          <th>Name</th>
        </tr>
      </ng-template>
      <ng-template #body let-holiday>
        <tr>
          <td>{{holiday.date | date:'yyyy/MM/dd'}}</td>
          <td>{{holiday.name}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</main>

<router-outlet />
